/**
 * Toolkit styles
 */

body {
  font-family: sans-serif;
}

@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  color: #333; }

.aq-typo__h1 {
  font-size: 2.25rem; }

.aq-typo__h2 {
  font-size: 1.75rem; }

.aq-typo__h3 {
  font-size: 1.25rem; }

.aq-typo__h4 {
  font-size: 1.125rem; }

.aq-typo__h5 {
  font-size: 1rem; }

.aq-typo__h6 {
  font-size: 0.875rem; }

p {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.aq-m-0 {
  margin: 0rem; }

.aq-p-0 {
  padding: 0rem; }

.aq-mt-0 {
  margin-top: 0rem; }

.aq-pt-0 {
  padding-top: 0rem; }

.aq-mr-0 {
  margin-right: 0rem; }

.aq-pr-0 {
  padding-right: 0rem; }

.aq-mb-0 {
  margin-bottom: 0rem; }

.aq-pb-0 {
  padding-bottom: 0rem; }

.aq-ml-0 {
  margin-left: 0rem; }

.aq-pl-0 {
  padding-left: 0rem; }

.aq-m-1 {
  margin: 0.125rem; }

.aq-p-1 {
  padding: 0.125rem; }

.aq-mt-1 {
  margin-top: 0.125rem; }

.aq-pt-1 {
  padding-top: 0.125rem; }

.aq-mr-1 {
  margin-right: 0.125rem; }

.aq-pr-1 {
  padding-right: 0.125rem; }

.aq-mb-1 {
  margin-bottom: 0.125rem; }

.aq-pb-1 {
  padding-bottom: 0.125rem; }

.aq-ml-1 {
  margin-left: 0.125rem; }

.aq-pl-1 {
  padding-left: 0.125rem; }

.aq-m-2 {
  margin: 0.25rem; }

.aq-p-2 {
  padding: 0.25rem; }

.aq-mt-2 {
  margin-top: 0.25rem; }

.aq-pt-2 {
  padding-top: 0.25rem; }

.aq-mr-2 {
  margin-right: 0.25rem; }

.aq-pr-2 {
  padding-right: 0.25rem; }

.aq-mb-2 {
  margin-bottom: 0.25rem; }

.aq-pb-2 {
  padding-bottom: 0.25rem; }

.aq-ml-2 {
  margin-left: 0.25rem; }

.aq-pl-2 {
  padding-left: 0.25rem; }

.aq-m-3 {
  margin: 0.5rem; }

.aq-p-3 {
  padding: 0.5rem; }

.aq-mt-3 {
  margin-top: 0.5rem; }

.aq-pt-3 {
  padding-top: 0.5rem; }

.aq-mr-3 {
  margin-right: 0.5rem; }

.aq-pr-3 {
  padding-right: 0.5rem; }

.aq-mb-3 {
  margin-bottom: 0.5rem; }

.aq-pb-3 {
  padding-bottom: 0.5rem; }

.aq-ml-3 {
  margin-left: 0.5rem; }

.aq-pl-3 {
  padding-left: 0.5rem; }

.aq-m-4 {
  margin: 0.75rem; }

.aq-p-4 {
  padding: 0.75rem; }

.aq-mt-4 {
  margin-top: 0.75rem; }

.aq-pt-4 {
  padding-top: 0.75rem; }

.aq-mr-4 {
  margin-right: 0.75rem; }

.aq-pr-4 {
  padding-right: 0.75rem; }

.aq-mb-4 {
  margin-bottom: 0.75rem; }

.aq-pb-4 {
  padding-bottom: 0.75rem; }

.aq-ml-4 {
  margin-left: 0.75rem; }

.aq-pl-4 {
  padding-left: 0.75rem; }

.aq-m-5 {
  margin: 1rem; }

.aq-p-5 {
  padding: 1rem; }

.aq-mt-5 {
  margin-top: 1rem; }

.aq-pt-5 {
  padding-top: 1rem; }

.aq-mr-5 {
  margin-right: 1rem; }

.aq-pr-5 {
  padding-right: 1rem; }

.aq-mb-5 {
  margin-bottom: 1rem; }

.aq-pb-5 {
  padding-bottom: 1rem; }

.aq-ml-5 {
  margin-left: 1rem; }

.aq-pl-5 {
  padding-left: 1rem; }

.aq-m-6 {
  margin: 1.5rem; }

.aq-p-6 {
  padding: 1.5rem; }

.aq-mt-6 {
  margin-top: 1.5rem; }

.aq-pt-6 {
  padding-top: 1.5rem; }

.aq-mr-6 {
  margin-right: 1.5rem; }

.aq-pr-6 {
  padding-right: 1.5rem; }

.aq-mb-6 {
  margin-bottom: 1.5rem; }

.aq-pb-6 {
  padding-bottom: 1.5rem; }

.aq-ml-6 {
  margin-left: 1.5rem; }

.aq-pl-6 {
  padding-left: 1.5rem; }

.aq-m-7 {
  margin: 2rem; }

.aq-p-7 {
  padding: 2rem; }

.aq-mt-7 {
  margin-top: 2rem; }

.aq-pt-7 {
  padding-top: 2rem; }

.aq-mr-7 {
  margin-right: 2rem; }

.aq-pr-7 {
  padding-right: 2rem; }

.aq-mb-7 {
  margin-bottom: 2rem; }

.aq-pb-7 {
  padding-bottom: 2rem; }

.aq-ml-7 {
  margin-left: 2rem; }

.aq-pl-7 {
  padding-left: 2rem; }

.aq-m-8 {
  margin: 2.5rem; }

.aq-p-8 {
  padding: 2.5rem; }

.aq-mt-8 {
  margin-top: 2.5rem; }

.aq-pt-8 {
  padding-top: 2.5rem; }

.aq-mr-8 {
  margin-right: 2.5rem; }

.aq-pr-8 {
  padding-right: 2.5rem; }

.aq-mb-8 {
  margin-bottom: 2.5rem; }

.aq-pb-8 {
  padding-bottom: 2.5rem; }

.aq-ml-8 {
  margin-left: 2.5rem; }

.aq-pl-8 {
  padding-left: 2.5rem; }

.aq-m-9 {
  margin: 3rem; }

.aq-p-9 {
  padding: 3rem; }

.aq-mt-9 {
  margin-top: 3rem; }

.aq-pt-9 {
  padding-top: 3rem; }

.aq-mr-9 {
  margin-right: 3rem; }

.aq-pr-9 {
  padding-right: 3rem; }

.aq-mb-9 {
  margin-bottom: 3rem; }

.aq-pb-9 {
  padding-bottom: 3rem; }

.aq-ml-9 {
  margin-left: 3rem; }

.aq-pl-9 {
  padding-left: 3rem; }

.aq-btn {
  display: inline-block;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  background: #17405e;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  font-family: sans-serif; }
  .aq-btn:hover {
    background: #0f2a3d;
    transition: all 0.3s ease; }
  .aq-btn:active {
    background: black; }
  .aq-btn--small {
    padding: 0.25rem 0.5rem;
    font-size: .75rem;
    line-height: .75rem; }
  .aq-btn--large {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem; }
  .aq-btn--hollow {
    border: 1px solid #17405e;
    background: rgba(23, 64, 94, 0);
    color: #17405e; }
    .aq-btn--hollow:hover {
      color: white;
      background: #17405e;
      transition: all 0.3s ease; }
    .aq-btn--hollow:active {
      color: white;
      background: black; }
  .aq-btn--ghost {
    position: relative;
    background: none;
    color: #17405e; }
    .aq-btn--ghost::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      transition: all 0.3s ease;
      content: "";
      visibility: hidden; }
    .aq-btn--ghost::after {
      background: #17405e; }
    .aq-btn--ghost:hover {
      background: rgba(23, 64, 94, 0); }
    .aq-btn--ghost:hover::after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      visibility: visible; }

.aq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  border: 1px solid transparent;
  word-wrap: break-word;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px; }
  .aq-card__header--icon {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .aq-card__img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }
  .aq-card__body {
    padding: 1rem .5rem; }
  .aq-card__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0; }
  .aq-card__label {
    color: #a4a4a4;
    font-size: 1rem; }
    .aq-card__label--dx {
      text-align: right; }
  .aq-card__value {
    color: #171717;
    font-size: 1.25rem; }
    .aq-card__value--dx {
      text-align: right; }
  .aq-card__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    box-sizing: border-box; }
  .aq-card__footer {
    border-top: 1px solid #BEBEBE;
    padding: 1rem 0;
    color: #6F6F6F; }

.aq-text-align--left {
  text-align: left; }

.aq-text-align--center {
  text-align: center; }

.aq-text-align--right {
  text-align: right; }

.aq-font-weight--normal {
  font-weight: 400; }

.aq-font-weight--bold {
  font-weight: 700; }

.aq-brand--primary {
  color: #3ead52; }

.aq-brand--secondary {
  color: #17405e; }

.aq-brand--3 {
  color: #54819c; }

.aq-brand--4 {
  color: #89a8b5; }

.aq-brand--5 {
  color: #b2cbd9; }

.aq-color--info {
  color: #0091D5; }

.aq-color--success {
  color: #219840; }

.aq-color--warning {
  color: #FDD13A; }

.aq-color--danger {
  color: #D51A24; }

.aq-color--gray-3 {
  color: #BEBEBE; }

.aq-color--gray-4 {
  color: #a4a4a4; }

.aq-bg-brand--primary {
  background: #3ead52; }

.aq-bg-brand--secondary {
  background: #17405e; }

.aq-bg-brand--3 {
  background: #54819c; }

.aq-bg-brand--4 {
  background: #89a8b5; }

.aq-bg-brand--5 {
  background: #b2cbd9; }

.aq-bg-color--info {
  background: #0091D5; }

.aq-bg-color--success {
  background: #219840; }

.aq-bg-color--warning {
  background: #FDD13A; }

.aq-bg-color--danger {
  background: #D51A24; }

.aq-bg-color--gray-3 {
  background: #BEBEBE; }

.aq-bg-color--gray-4 {
  background: #a4a4a4; }

.aq-accordion {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .aq-accordion__item {
    margin: 0;
    box-sizing: border-box; }
  .aq-accordion__header {
    width: 100%;
    margin: 0;
    padding: .5rem 0;
    padding-left: 1rem;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    box-sizing: border-box; }
    .aq-accordion__header svg {
      z-index: 0; }
    .aq-accordion__header:hover {
      background-color: #f3f3f3; }
  .aq-accordion__icon {
    position: relative;
    right: 1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 0; }
  .aq-accordion__title {
    color: #333;
    z-index: 0; }
  .aq-accordion__content {
    display: none; }
  .aq-accordion__content-seo {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0); }

.aq-accordion__item[expanded] {
  border: 1px solid #BEBEBE;
  border-radius: 4px; }
  .aq-accordion__item[expanded] .aq-accordion__content,
  .aq-accordion__item[expanded] .aq-accordion__content-seo {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    padding: 1rem .5rem;
    box-sizing: border-box; }
  .aq-accordion__item[expanded] .aq-accordion__icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .aq-accordion__item[expanded] .aq-accordion__header {
    border: none; }

.aq-form-select {
  display: block;
  width: 100%;
  margin: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  border: 1px solid #6F6F6F;
  border-radius: 4px;
  overflow: hidden; }
  .aq-form-select:focus, .aq-form-select:hover {
    border: 1px solid #3D3D3D; }
  .aq-form-select::after {
    content: '▾';
    position: absolute;
    top: 0;
    right: 1rem;
    color: #6F6F6F;
    font-size: 1rem;
    line-height: 2;
    z-index: 1; }

select.aq-select {
  position: relative;
  display: block;
  width: 100%;
  background: transparent;
  background-image: none;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 0.875rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  z-index: 2;
  text-overflow: ""; }

input:-webkit-autofill {
  box-shadow: none; }

.aq-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 0.875rem;
  border: 1px solid #6F6F6F;
  border-radius: 4px; }

.aq-label {
  display: block;
  color: #a4a4a4;
  margin-bottom: .25rem; }

input[type="radio"].aq-checkbox {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

input[type="radio"].aq-checkbox ~ .aq-checkbox-toggle {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #6F6F6F;
  border-radius: 50%;
  cursor: pointer; }

input[type="radio"].aq-checkbox:hover ~ .aq-checkbox-toggle {
  border: 2px solid #3D3D3D; }

input[type="radio"].aq-checkbox:focus ~ .aq-checkbox-toggle {
  border-color: #3D3D3D;
  box-shadow: 0 0 0 2px rgba(75, 75, 75, 0.25); }

input[type="radio"].aq-checkbox:checked ~ .aq-checkbox-toggle {
  border: 2px solid #219840; }

input[type='radio'].aq-checkbox:checked ~ .aq-checkbox-toggle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 50%;
  background: #219840; }

input[type="checkbox"].aq-checkbox {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

input[type="checkbox"].aq-checkbox ~ .aq-checkbox-toggle {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #6F6F6F;
  border-radius: 50%;
  cursor: pointer; }

input[type="checkbox"].aq-checkbox:hover ~ .aq-checkbox-toggle {
  border-color: #3D3D3D; }

input[type="checkbox"].aq-checkbox:focus ~ .aq-checkbox-toggle {
  border-color: #3D3D3D;
  box-shadow: 0 0 0 2px rgba(75, 75, 75, 0.25); }

input[type="checkbox"].aq-checkbox:checked ~ .aq-checkbox-toggle {
  border-color: #219840;
  background: #219840 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
  background-size: 75%; }

input[type="radio"].aq-checkbox ~ label,
input[type="checkbox"].aq-checkbox ~ label {
  vertical-align: middle;
  font-size: 1rem; }
