<ul class="aq-accordion" style="max-width: 400px">
    <li class="aq-accordion__item" expande>
      <div class="aq-accordion__header">
      <span class="aq-accordion__title">Title</span>
      <svg class="aq-accordion__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8l-5 5-.7-.7L9.6 8 5.3 3.7 6 3z"></path></svg>
      </svg>
    </div>
    <section class="aq-accordion__content">
        <span>lorem ipsum dolor sit amet</span>
    </section>
    </li>
</ul>

<script>

var config = {
    accordion: {
        container: "aq-accordion__item",
        toggle: "expanded"
    }
};

var accordionsRaw = document.getElementsByClassName(config.accordion.container);
var accordions = [...accordionsRaw];

accordions.forEach(accordion => {
    accordion.addEventListener("click", event => {
    event.currentTarget.toggleAttribute(config.accordion.toggle);
    });
});

</script>