<div>
    <button class="aq-btn">Default</button>
    
    <button class="aq-btn aq-btn--large">Large</button>

    <button class="aq-btn aq-btn--small">Small</button>
    
    <button class="aq-btn aq-btn--hollow">Hollow</button>
    
    <button class="aq-btn aq-btn--ghost">Ghost</button>
</div>