<div class="aq-card" style="max-width:250px;">
    <header class="aq-card__header">
        <img class="aq-card__img" src="https://via.placeholder.com/250" alt="#" />
    </header>

    <div class="aq-card__body">
        <div class="aq-card__title">Title</div>
        <p class="aq-card__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
    </div>

    <footer class="aq-card__footer">
    </footer>

</div>