<label>
    <input type="radio" class="aq-checkbox" name="like" id="yes" value="yes" checked>
    <span class="aq-checkbox-toggle"></span>
    <label for="yes">Yes</label>
  </label>
  <label>
    <input type="radio" class="aq-checkbox" name="like" id="no" value="no">
    <span class="aq-checkbox-toggle"></span>
    <label for="no">No</label>
  </label>