<div class="aq-form-select" style="max-width:240px">
	<select name="" id="" class="aq-select">
	  <option>First option</option>
	  <option>Luca</option>
	  <option>Valentino</option>
	  <option>Giada</option>
	</select>
  </div>