---
title: Overview | Fabricator
fabricator: true
---

<h1>App Quality StyleGuide</h1>

<p>Welcome to the official App Quality styleguide.</p>

<p>This guide is made by real working examples and code snippets, all documented to avoid confusion. It should be
	followed as unique source of truth, the only reference to check.</p>

<p>This is a tech-agnostic version of the design system that includes HTML, CSS, and maybe some light JS (like toggling
	classes for menu and dropdowns or accordion).</p>

<h2>Usage</h2>

<h3>PHP (in Wordpress)</h3>

<p>Start by adding the following code to your <em>functions.php</em> file:</p>

<pre class="language-markup">
	<code class="language-markup">
function _your_function_name()
		{
			wp_enqueue_style( 'handle_name',  'path', array() , VERSION, false);
		}
		add_action( 'wp_enqueue_scripts', '_your_function_name' );
	</code>
</pre>

<!-- <p>Start by adding the following files to your page:</p>

<pre class="language-markup">
	<code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code>
</pre>

<pre class="language-markup">
	<code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code>
</pre> -->


<h2>Color</h2>

{{#each colors.colors}}
<div class="f-color-chips">
	{{#each this}}
	<div class="f-color-chip">
		<div class="f-color-chip__name">{{@key}}</div>
		<div class="f-color-chip__color">{{this}}</div>
	</div>
	{{/each}}
</div>
{{/each}}

<h2>Typography</h2>

{{#each typography.typography}}
	{{#each this}}
	
	<div style="margin-top: 2rem;">
		<h3 style="color:firebrick; margin-bottom: 0.5rem; font-size: 24px; font-weight: 700;">{{@key}}</h3>
		<span style="font-size:{{this}}">Lorem ipsum dolor sit amet.</span>
	</div>

	{{/each}}
{{/each}}